In [193]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
from pymongo import MongoClient
import pandas as pd
import requests
import os
import folium
import json
from dotenv import load_dotenv
load_dotenv()

True

In [194]:
client = MongoClient("mongodb://localhost/datamad0320")
db = client.get_database()

In [195]:
all_offices = list(db.ejercicios.find({},{"offices":1,"name":1,"founded_year":1,"category_code":1}))

In [196]:
companias = pd.DataFrame (all_offices )
companias = companias.explode("offices")
companias

,_id,name,category_code,founded_year,offices
0,52cdef7c4bab8bd675297d8b,AdventNet,enterprise,1996.0,"{'description': 'Headquarters', 'address1': '4..."
1,52cdef7c4bab8bd675297d8c,Zoho,software,2005.0,"{'description': 'Headquarters', 'address1': '4..."
2,52cdef7c4bab8bd675297d8a,Wetpaint,web,2005.0,"{'description': '', 'address1': '710 - 2nd Ave..."
2,52cdef7c4bab8bd675297d8a,Wetpaint,web,2005.0,"{'description': '', 'address1': '270 Lafayette..."
3,52cdef7c4bab8bd675297d90,Postini,web,1999.0,"{'description': None, 'address1': '959 Skyway ..."
...,...,...,...,...,...
18796,52cdef7f4bab8bd67529c6f9,EnteGreat Solutions,software,NaN,"{'description': '', 'address1': '', 'address2'..."
18797,52cdef7f4bab8bd67529c6f7,AfterLogic,software,2002.0,"{'description': 'Livingston', 'address1': 'P.O..."
18798,52cdef7f4bab8bd67529c6f8,goBookmaker,web,NaN,NaN
18799,52cdef7f4bab8bd67529c6f0,Intergy,software,2003.0,"{'description': '', 'address1': '11875 Dublin ..."
18800,52cdef7f4bab8bd67529c6fa,EnteGreat,enterprise,2000.0,"{'description': '', 'address1': '1900 Internat..."

In [197]:
def buscaroficinaGeoPoint(row):
    office = row.offices
    if type(office) == dict:
        if 'latitude' in office and 'longitude' in office:
            if(type(office["latitude"])) == float and type(office["longitude"]) == float:
                return ({
                    "type":"Point",
                    "coordinates":[office["longitude"],office["latitude"]]
                },"success")
            else:
                return(None,"Invalid lat lat and long")
        else:
            return (None,"No lat and long keys in office dict")
    return (None,"No office")

In [198]:
limpias_offices = companias.apply(buscaroficinaGeoPoint,axis=1, result_type="expand")
limpias_offices.columns = ["office","clean_state"]
limpias_offices

                                                  office clean_state
0      {'type': 'Point', 'coordinates': [-121.904945,...     success
1      {'type': 'Point', 'coordinates': [-121.904945,...     success
2      {'type': 'Point', 'coordinates': [-122.333253,...     success
2      {'type': 'Point', 'coordinates': [-73.9964312,...     success
3      {'type': 'Point', 'coordinates': [-122.247573,...     success
...                                                  ...         ...
18796  {'type': 'Point', 'coordinates': [-86.816068, ...     success
18797  {'type': 'Point', 'coordinates': [-74.3235539,...     success
18798                                               None   No office
18799  {'type': 'Point', 'coordinates': [-121.9366984...     success
18800  {'type': 'Point', 'coordinates': [-86.7613019,...     success

[21762 rows x 2 columns]

In [199]:
companias_limpias= pd.concat([companias,limpias_offices], axis=1)

In [200]:
companias_limpias = companias_limpias[["name","category_code","office","clean_state","founded_year"]]

In [201]:
companias_limpias.clean_state.value_counts()

success                     10834
Invalid lat lat and long     5871
No office                    5057
Name: clean_state, dtype: int64

In [202]:
companias_limpias = companias_limpias.drop(companias_limpias.index[companias_limpias["clean_state"]=="No office",])

In [203]:
companias_limpias.clean_state.value_counts()
#companias_limpias["clean_state"] = companias_limpias["clean_state"].astype(str)
#companias_limpias.clean_state

success                     10834
Invalid lat lat and long     5871
Name: clean_state, dtype: int64

In [204]:
companias_limpias.rename(columns={'office':'Lugares'}, inplace=True)

In [205]:
companias_limpias = companias_limpias.reset_index()

In [206]:
companias_limpias = companias_limpias.drop(['index'], axis=1)

In [207]:
companias_limpias

,name,category_code,Lugares,clean_state,founded_year
0,AdventNet,enterprise,"{'type': 'Point', 'coordinates': [-121.904945,...",success,1996.0
1,Zoho,software,"{'type': 'Point', 'coordinates': [-121.904945,...",success,2005.0
2,Wetpaint,web,"{'type': 'Point', 'coordinates': [-122.333253,...",success,2005.0
3,Wetpaint,web,"{'type': 'Point', 'coordinates': [-73.9964312,...",success,2005.0
4,Postini,web,"{'type': 'Point', 'coordinates': [-122.247573,...",success,1999.0
...,...,...,...,...,...
16700,Adhunk,advertising,None,Invalid lat lat and long,2009.0
16701,EnteGreat Solutions,software,"{'type': 'Point', 'coordinates': [-86.816068, ...",success,NaN
16702,AfterLogic,software,"{'type': 'Point', 'coordinates': [-74.3235539,...",success,2002.0
16703,Intergy,software,"{'type': 'Point', 'coordinates': [-121.9366984...",success,2003.0
16704,EnteGreat,enterprise,"{'type': 'Point', 'coordinates': [-86.7613019,...",success,2000.0

In [208]:

companias_limpias = companias_limpias.dropna(subset=["founded_year"])
companias_limpias

,name,category_code,Lugares,clean_state,founded_year
0,AdventNet,enterprise,"{'type': 'Point', 'coordinates': [-121.904945,...",success,1996.0
1,Zoho,software,"{'type': 'Point', 'coordinates': [-121.904945,...",success,2005.0
2,Wetpaint,web,"{'type': 'Point', 'coordinates': [-122.333253,...",success,2005.0
3,Wetpaint,web,"{'type': 'Point', 'coordinates': [-73.9964312,...",success,2005.0
4,Postini,web,"{'type': 'Point', 'coordinates': [-122.247573,...",success,1999.0
...,...,...,...,...,...
16699,Axon Solutions,software,"{'type': 'Point', 'coordinates': [-74.033251, ...",success,2004.0
16700,Adhunk,advertising,None,Invalid lat lat and long,2009.0
16702,AfterLogic,software,"{'type': 'Point', 'coordinates': [-74.3235539,...",success,2002.0
16703,Intergy,software,"{'type': 'Point', 'coordinates': [-121.9366984...",success,2003.0
16704,EnteGreat,enterprise,"{'type': 'Point', 'coordinates': [-86.7613019,...",success,2000.0

In [171]:
companias_limpias.to_json("Input/CompaniasNewyork.json",orient="records")

In [209]:
from dotenv import load_dotenv
load_dotenv()

# Load the apikey
api_key_Geo = os.getenv("api_key_Geo2")

In [210]:

def geocode(address):
    '''resp = requests.get("https://geocode.xyz/51.4647,0.0079?json=1&auth=your auth code")
    Use geocode api to do forward geocoding. https://geocode.xyz/api
    '''
    res = requests.get(f"https://geocode.xyz/{address},NewYork?region=USA?json=1&auth={api_key_Geo}",params={"json":1})
    #res = requests.get(f"https://geocode.xyz/{address}",params={"json":1})
    data = res.json()
    print(res)
    # Return as GeoJSON -> https://geojson.org/
    return {
        "type":"Point",
        "coordinates": [float(data["longt"]), float(data["latt"])]
    }

In [211]:
#, maxDist=1000
def getOfficeNear(address, maxDist=3000):
    point = geocodeMadrid(address)
    return {
       "office": {
         "$near": {
           "$geometry": point,
           "$maxDistance": maxDist,
         }
       }
    }

In [212]:
def getBuscar(address, maxDist=1000):
    point = geocode(address)
    return {
       "Lugares": {
         "$near": {
           "$geometry": point,
           "$maxDistance": maxDist,
         }
       }
    }

In [118]:
query = getBuscar("Times Square New york")
query

<Response [200]>

{'Lugares': {'$near': {'$geometry': {'type': 'Point',
    'coordinates': [-73.98626, 40.75662]},
   '$maxDistance': 1000}}}

In [119]:
#print(list(db.Madridcompani.find({"Lugares": {"$near":{"$geometry":{"type":"Point","coordinates":[ -40.45306,-3.70861 ]},"$maxDistance":100000}}})))

#cur = db.NewYorkCompanis.find(query.update({"clean_state":"success"}), {"_id":0})
cur = db.NewYorkCompanis.find(query, {"_id":0})
print(cur.count())
result = list(cur)
result

165

/home/sergio/.local/lib/python3.6/site-packages/ipykernel_launcher.py:5: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """

[{'index': 6522,
  'name': 'Thomson Reuters',
  'category_code': 'public_relations',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9871847, 40.7564318]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 7406,
  'name': 'Thomson Reuters',
  'category_code': 'public_relations',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9871847, 40.7564318]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 6641,
  'name': 'artandseek',
  'category_code': 'other',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 7415,
  'name': 'Papervitamins',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 11368,
  'name': 'Dragonfly',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2006.0},
 {'index': 18262,
  'name': 'CPower',
  'category_code': 'cleantech',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2000.0},
 {'index': 18170,
  'name': 'famebook',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 11127,
  'name': 'Fotohoo',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 17487,
  'name': 'Palyon Medical',
  'category_code': 'biotech',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2004.0},
 {'index': 16870,
  'name': 'Primospot',
  'category_code': 'other',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 10324,
  'name': 'People Capital',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 10663,
  'name': 'Livekick',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2009.0},
 {'index': 16694,
  'name': 'bTrendie',
  'category_code': 'ecommerce',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 16588,
  'name': 'Udorse',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2009.0},
 {'index': 16164,
  'name': 'Yoostar',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 16385,
  'name': 'GameGround',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 6507,
  'name': 'Papervitamins',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 10188,
  'name': 'Odiogo',
  'category_code': 'mobile',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 15408,
  'name': 'Delivr',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2009.0},
 {'index': 14038,
  'name': 'UniversityJunction',
  'category_code': 'other',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 10080,
  'name': 'PlaceVine',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 13629,
  'name': 'Muckety',
  'category_code': 'other',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2006.0},
 {'index': 13635,
  'name': 'Hirshorn Zuckerman Design Group',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 1987.0},
 {'index': 5048,
  'name': 'Medialets',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 8509,
  'name': 'Healism',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 13628,
  'name': 'Wee Web',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 12844,
  'name': 'VSC Consulting',
  'category_code': 'public_relations',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2002.0},
 {'index': 7546,
  'name': 'artandseek',
  'category_code': 'other',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 12751,
  'name': 'The Talk Market',
  'category_code': 'ecommerce',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 11721,
  'name': 'Pictela',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 18702,
  'name': 'Conversition',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 4736,
  'name': 'ShopMyCloset',
  'category_code': 'ecommerce',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986941, 40.75604]},
  'clean_state': 'success',
  'founded_year': 2003.0},
 {'index': 16343,
  'name': 'MyPRGenie',
  'category_code': 'other',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986005, 40.757375]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 1970,
  'name': 'MTV Networks',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986011, 40.757725]},
  'clean_state': 'success',
  'founded_year': 1984.0},
 {'index': 19,
  'name': 'Viacom',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986011, 40.757725]},
  'clean_state': 'success',
  'founded_year': 1971.0},
 {'index': 1397,
  'name': 'Paramount Pictures',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9858165, 40.7577017]},
  'clean_state': 'success',
  'founded_year': 1912.0},
 {'index': 12301,
  'name': 'TravelCLICK',
  'category_code': 'hospitality',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9868495, 40.755437]},
  'clean_state': 'success',
  'founded_year': 1999.0},
 {'index': 3768,
  'name': 'Pinch Media',
  'category_code': 'software',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 3694,
  'name': 'Propertyqube',
  'category_code': 'ecommerce',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2006.0},
 {'index': 3229,
  'name': 'MyBloop',
  'category_code': 'network_hosting',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2006.0},
 {'index': 3060,
  'name': 'HyperCalc',
  'category_code': 'software',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 2520,
  'name': '1938 Media',
  'category_code': None,
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2005.0},
 {'index': 2381,
  'name': 'Wists',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2005.0},
 {'index': 2246,
  'name': 'Wiredset',
  'category_code': None,
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2004.0},
 {'index': 1619,
  'name': 'Outbrain',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2006.0},
 {'index': 1565,
  'name': 'Blog Talk Radio',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2006.0},
 {'index': 1625,
  'name': 'Gamers Media',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 1039,
  'name': 'SnapVillage',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 1552,
  'name': 'Camlink',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 524,
  'name': 'PeekYou',
  'category_code': 'search',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2012.0},
 {'index': 486,
  'name': 'iVillage',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 1995.0},
 {'index': 18,
  'name': 'MeetMoi',
  'category_code': 'social',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 3042,
  'name': 'Kidmondo',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 1005,
  'name': 'Chictini',
  'category_code': 'network_hosting',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 1235,
  'name': 'Gawker Media',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2002.0},
 {'index': 1226,
  'name': 'Massify',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2006.0},
 {'index': 1676,
  'name': 'Totspot',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 904,
  'name': 'UpNext',
  'category_code': 'mobile',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 459,
  'name': 'Fotolog',
  'category_code': 'network_hosting',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2002.0},
 {'index': 770,
  'name': 'Jango',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 225,
  'name': 'Clipmarks',
  'category_code': 'photo_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2003.0},
 {'index': 4373,
  'name': 'CPXi',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9869523, 40.7550708]},
  'clean_state': 'success',
  'founded_year': 2000.0},
 {'index': 17529,
  'name': 'OpTier',
  'category_code': 'analytics',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985647, 40.754937]},
  'clean_state': 'success',
  'founded_year': 2005.0},
 {'index': 4615,
  'name': 'My Damn Channel',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.988543, 40.754762]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 1839,
  'name': 'Giant Realm',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9827553, 40.7566658]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 4231,
  'name': 'Unicast',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.988834, 40.754699]},
  'clean_state': 'success',
  'founded_year': 1998.0},
 {'index': 2723,
  'name': 'Salesconx',
  'category_code': 'enterprise',
  'Lugares': {'type': 'Point', 'coordinates': [-73.98459, 40.759243]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 13573,
  'name': 'Tech Support 4 NYC',
  'category_code': 'consulting',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9883596, 40.754142]},
  'clean_state': 'success',
  'founded_year': 2001.0},
 {'index': 1101,
  'name': 'yoonew',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986557, 40.75362]},
  'clean_state': 'success',
  'founded_year': 2004.0},
 {'index': 4333,
  'name': 'MYSTYLEPOST',
  'category_code': 'network_hosting',
  'Lugares': {'type': 'Point', 'coordinates': [-73.989622, 40.754901]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 16341,
  'name': 'Real Time Content',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.990286, 40.755959]},
  'clean_state': 'success',
  'founded_year': 2006.0},
 {'index': 1002,
  'name': 'ideeli',
  'category_code': 'ecommerce',
  'Lugares': {'type': 'Point', 'coordinates': [-73.990396, 40.755978]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 9943,
  'name': 'Interpublic Group',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.982666, 40.754683]},
  'clean_state': 'success',
  'founded_year': 1902.0},
 {'index': 13052,
  'name': 'MindSmack',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.989987, 40.758492]},
  'clean_state': 'success',
  'founded_year': 1999.0},
 {'index': 14022,
  'name': 'Magnetic',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.990152, 40.758343]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 511,
  'name': 'LineUpNewYork',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986771, 40.753202]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 11770,
  'name': 'Wall Street Journal',
  'category_code': None,
  'Lugares': {'type': 'Point', 'coordinates': [-73.9824129, 40.7587059]},
  'clean_state': 'success',
  'founded_year': 1889.0},
 {'index': 12034,
  'name': 'WeMix',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9815358, 40.7554379]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 7351,
  'name': 'Dada Entertainment',
  'category_code': 'mobile',
  'Lugares': {'type': 'Point', 'coordinates': [-73.981847, 40.7543]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 6448,
  'name': 'Dada Entertainment',
  'category_code': 'mobile',
  'Lugares': {'type': 'Point', 'coordinates': [-73.981847, 40.7543]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 392,
  'name': 'Heavy',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.98962, 40.753385]},
  'clean_state': 'success',
  'founded_year': 1999.0},
 {'index': 17269,
  'name': 'Connectiva Systems',
  'category_code': 'software',
  'Lugares': {'type': 'Point', 'coordinates': [-73.980861, 40.755531]},
  'clean_state': 'success',
  'founded_year': 2000.0},
 {'index': 5783,
  'name': 'XB Labs',
  'category_code': 'software',
  'Lugares': {'type': 'Point', 'coordinates': [-73.991605, 40.755329]},
  'clean_state': 'success',
  'founded_year': 2005.0},
 {'index': 11989,
  'name': 'PEX Card',
  'category_code': 'software',
  'Lugares': {'type': 'Point', 'coordinates': [-73.987871, 40.752539]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 6834,
  'name': 'AdSide',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.991123, 40.753931]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 3266,
  'name': 'Facilitas',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.991123, 40.753931]},
  'clean_state': 'success',
  'founded_year': 2005.0},
 {'index': 7737,
  'name': 'AdSide',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.991123, 40.753931]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 11669,
  'name': 'Eastmedia',
  'category_code': 'mobile',
  'Lugares': {'type': 'Point', 'coordinates': [-73.988676, 40.752409]},
  'clean_state': 'success',
  'founded_year': 1999.0},
 {'index': 1336,
  'name': 'Oddcast',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.988477, 40.752325]},
  'clean_state': 'success',
  'founded_year': 1999.0},
 {'index': 9795,
  'name': 'Behind the Burner',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.981237, 40.753918]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 2487,
  'name': 'Odeo',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.981237, 40.753918]},
  'clean_state': 'success',
  'founded_year': 2005.0},
 {'index': 5732,
  'name': 'Admeld',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.992152, 40.755253]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 786,
  'name': 'Peer39',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.980246, 40.755446]},
  'clean_state': 'success',
  'founded_year': 2006.0},
 {'index': 3946,
  'name': 'Ladies Who Launch',
  'category_code': 'public_relations',
  'Lugares': {'type': 'Point', 'coordinates': [-73.991512, 40.753877]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 17084,
  'name': 'Optimum Energy',
  'category_code': 'cleantech',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9875922, 40.7518919]},
  'clean_state': 'success',
  'founded_year': 2005.0},
 {'index': 1050,
  'name': 'Xanga',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.992152, 40.754698]},
  'clean_state': 'success',
  'founded_year': 1999.0},
 {'index': 3030,
  'name': 'Zoomabet',
  'category_code': 'network_hosting',
  'Lugares': {'type': 'Point', 'coordinates': [-73.992152, 40.754698]},
  'clean_state': 'success',
  'founded_year': 2006.0},
 {'index': 2649,
  'name': 'NEHST Studios',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.992193, 40.75451]},
  'clean_state': 'success',
  'founded_year': 2007.0},
 {'index': 2314,
  'name': 'Wakozi',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.992706, 40.755409]},
  'clean_state': 'success',
  'founded_year': 2008.0},
 {'index': 2531,
  'name': 'Velocix',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.980068, 40.758504]},
  'clean_state': 'success',
  'founded_year': 2002.0},
 {'index': 10007,
  'name': 'DreamFace Interactive',
  'category_code': 'enterprise',

In [213]:
def easyLatLng(row):
    of = row.Lugares
    return {
        "latitude":of["coordinates"][1],
        "longitude":of["coordinates"][0]
    }

In [214]:
df = pd.DataFrame(result)

df_conGeo = pd.concat([df, df.apply(easyLatLng, axis=1, result_type="expand")], axis=1)
df_conGeo.rename(columns={'office':'Lugares'}, inplace=True)

In [215]:
df_conGeo

,index,name,category_code,Lugares,clean_state,founded_year,latitude,longitude
0,6522,Thomson Reuters,public_relations,"{'type': 'Point', 'coordinates': [-73.9871847,...",success,2008.0,40.756432,-73.987185
1,7406,Thomson Reuters,public_relations,"{'type': 'Point', 'coordinates': [-73.9871847,...",success,2008.0,40.756432,-73.987185
2,6641,artandseek,other,"{'type': 'Point', 'coordinates': [-73.986951, ...",success,2007.0,40.756054,-73.986951
3,7415,Papervitamins,web,"{'type': 'Point', 'coordinates': [-73.986951, ...",success,2008.0,40.756054,-73.986951
4,11368,Dragonfly,web,"{'type': 'Point', 'coordinates': [-73.986951, ...",success,2006.0,40.756054,-73.986951
...,...,...,...,...,...,...,...,...
160,16354,ArtNeighbor,web,"{'type': 'Point', 'coordinates': [-73.9918181,...",success,2009.0,40.748938,-73.991818
161,16852,Strategist News,web,"{'type': 'Point', 'coordinates': [-73.9918181,...",success,2009.0,40.748938,-73.991818
162,1504,AdoTube,advertising,"{'type': 'Point', 'coordinates': [-73.97593, 4...",success,2007.0,40.752672,-73.975930
163,13287,Major League Gaming,games_video,"{'type': 'Point', 'coordinates': [-73.97593, 4...",success,2002.0,40.752672,-73.975930
164,2481,Agoracom,enterprise,"{'type': 'Point', 'coordinates': [-73.97593, 4...",success,1997.0,40.752672,-73.975930

In [216]:
#d = {'type': 'Point', 'coordinates': [-73.9871847, 40.7564318]}

#df_conGeo["LugarNuevo"] = {'type': 'Point', 'coordinates': [df_conGeo["latitude"], df_conGeo["longitude"]]}

#df_conGeo = geopandas.GeoDataFrame(df_conGeo, geometry=geopandas.points_from_xy(df_conGeo.latitude, df_conGeo.longitude))


df_conGeo2

,name,category_code,clean_state,founded_year,latitude,longitude,Veamos
0,Thomson Reuters,public_relations,success,2008.0,40.756432,-73.987185,"{'type': 'Point', 'coordinates': [40.7564318, ..."
1,Thomson Reuters,public_relations,success,2008.0,40.756432,-73.987185,"{'type': 'Point', 'coordinates': [40.7564318, ..."
2,artandseek,other,success,2007.0,40.756054,-73.986951,"{'type': 'Point', 'coordinates': [40.756054, -..."
3,Papervitamins,web,success,2008.0,40.756054,-73.986951,"{'type': 'Point', 'coordinates': [40.756054, -..."
4,Dragonfly,web,success,2006.0,40.756054,-73.986951,"{'type': 'Point', 'coordinates': [40.756054, -..."
...,...,...,...,...,...,...,...
160,ArtNeighbor,web,success,2009.0,40.748938,-73.991818,"{'type': 'Point', 'coordinates': [40.7489381, ..."
161,Strategist News,web,success,2009.0,40.748938,-73.991818,"{'type': 'Point', 'coordinates': [40.7489381, ..."
162,AdoTube,advertising,success,2007.0,40.752672,-73.975930,"{'type': 'Point', 'coordinates': [40.752672, -..."
163,Major League Gaming,games_video,success,2002.0,40.752672,-73.975930,"{'type': 'Point', 'coordinates': [40.752672, -..."
164,Agoracom,enterprise,success,1997.0,40.752672,-73.975930,"{'type': 'Point', 'coordinates': [40.752672, -..."

In [217]:
listas=[]
for index,row in df_conGeo2.iterrows():
    
    dicio= {'type' :'Point', 'coordinates':[row["latitude"],row["longitude"]]}
    listas.append(dicio)
df_conGeo2["Veamos"]=listas
df_conGeo2

,name,category_code,clean_state,founded_year,latitude,longitude,Veamos
0,Thomson Reuters,public_relations,success,2008.0,40.756432,-73.987185,"{'type': 'Point', 'coordinates': [40.7564318, ..."
1,Thomson Reuters,public_relations,success,2008.0,40.756432,-73.987185,"{'type': 'Point', 'coordinates': [40.7564318, ..."
2,artandseek,other,success,2007.0,40.756054,-73.986951,"{'type': 'Point', 'coordinates': [40.756054, -..."
3,Papervitamins,web,success,2008.0,40.756054,-73.986951,"{'type': 'Point', 'coordinates': [40.756054, -..."
4,Dragonfly,web,success,2006.0,40.756054,-73.986951,"{'type': 'Point', 'coordinates': [40.756054, -..."
...,...,...,...,...,...,...,...
160,ArtNeighbor,web,success,2009.0,40.748938,-73.991818,"{'type': 'Point', 'coordinates': [40.7489381, ..."
161,Strategist News,web,success,2009.0,40.748938,-73.991818,"{'type': 'Point', 'coordinates': [40.7489381, ..."
162,AdoTube,advertising,success,2007.0,40.752672,-73.975930,"{'type': 'Point', 'coordinates': [40.752672, -..."
163,Major League Gaming,games_video,success,2002.0,40.752672,-73.975930,"{'type': 'Point', 'coordinates': [40.752672, -..."
164,Agoracom,enterprise,success,1997.0,40.752672,-73.975930,"{'type': 'Point', 'coordinates': [40.752672, -..."

In [218]:
df_conGeo2

,name,category_code,clean_state,founded_year,latitude,longitude,Veamos
0,Thomson Reuters,public_relations,success,2008.0,40.756432,-73.987185,"{'type': 'Point', 'coordinates': [40.7564318, ..."
1,Thomson Reuters,public_relations,success,2008.0,40.756432,-73.987185,"{'type': 'Point', 'coordinates': [40.7564318, ..."
2,artandseek,other,success,2007.0,40.756054,-73.986951,"{'type': 'Point', 'coordinates': [40.756054, -..."
3,Papervitamins,web,success,2008.0,40.756054,-73.986951,"{'type': 'Point', 'coordinates': [40.756054, -..."
4,Dragonfly,web,success,2006.0,40.756054,-73.986951,"{'type': 'Point', 'coordinates': [40.756054, -..."
...,...,...,...,...,...,...,...
160,ArtNeighbor,web,success,2009.0,40.748938,-73.991818,"{'type': 'Point', 'coordinates': [40.7489381, ..."
161,Strategist News,web,success,2009.0,40.748938,-73.991818,"{'type': 'Point', 'coordinates': [40.7489381, ..."
162,AdoTube,advertising,success,2007.0,40.752672,-73.975930,"{'type': 'Point', 'coordinates': [40.752672, -..."
163,Major League Gaming,games_video,success,2002.0,40.752672,-73.975930,"{'type': 'Point', 'coordinates': [40.752672, -..."
164,Agoracom,enterprise,success,1997.0,40.752672,-73.975930,"{'type': 'Point', 'coordinates': [40.752672, -..."

/home/sergio/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

      type                coordinates
0    Point  [40.7564318, -73.9871847]
1    Point  [40.7564318, -73.9871847]
2    Point    [40.756054, -73.986951]
3    Point    [40.756054, -73.986951]
4    Point    [40.756054, -73.986951]
..     ...                        ...
160  Point  [40.7489381, -73.9918181]
161  Point  [40.7489381, -73.9918181]
162  Point     [40.752672, -73.97593]
163  Point     [40.752672, -73.97593]
164  Point     [40.752672, -73.97593]

[165 rows x 2 columns]

In [230]:
df_conGeo2

,name,category_code,clean_state,founded_year,latitude,longitude,Veamos
0,Thomson Reuters,public_relations,success,2008.0,40.756432,-73.987185,"{'type': 'Point', 'coordinates': [40.7564318, ..."
1,Thomson Reuters,public_relations,success,2008.0,40.756432,-73.987185,"{'type': 'Point', 'coordinates': [40.7564318, ..."
2,artandseek,other,success,2007.0,40.756054,-73.986951,"{'type': 'Point', 'coordinates': [40.756054, -..."
3,Papervitamins,web,success,2008.0,40.756054,-73.986951,"{'type': 'Point', 'coordinates': [40.756054, -..."
4,Dragonfly,web,success,2006.0,40.756054,-73.986951,"{'type': 'Point', 'coordinates': [40.756054, -..."
...,...,...,...,...,...,...,...
160,ArtNeighbor,web,success,2009.0,40.748938,-73.991818,"{'type': 'Point', 'coordinates': [40.7489381, ..."
161,Strategist News,web,success,2009.0,40.748938,-73.991818,"{'type': 'Point', 'coordinates': [40.7489381, ..."
162,AdoTube,advertising,success,2007.0,40.752672,-73.975930,"{'type': 'Point', 'coordinates': [40.752672, -..."
163,Major League Gaming,games_video,success,2002.0,40.752672,-73.975930,"{'type': 'Point', 'coordinates': [40.752672, -..."
164,Agoracom,enterprise,success,1997.0,40.752672,-73.975930,"{'type': 'Point', 'coordinates': [40.752672, -..."

In [231]:
import json
df_conGeo2.to_json("./Input/latyloncambiados.json",orient="records")

ValueError: Unknown na method ./Input/latyloncambiados.json

In [148]:
def cambiarlatitudes(lat,long):
        
        for e in lat:
            print("hola",e)
            for i in long:
                print("adios",i)
                return    {
        "type":"Point",
        "coordinates": [float([i]), float([e])]
    }
r =cambiarlatitudes(df_conGeo.latitude, df_conGeo.longitude)
print(r)

hola 40.7564318
adios -73.9871847

TypeError: float() argument must be a string or a number, not 'list'

In [173]:
#df_conGeo.to_json("Input/NuevaYorkCompanias.json",orient="records")

df_conGeo2.to_json("./Input/prueba.json",orient="records")

ValueError: Unknown na method ./Input/prueba.json

In [148]:
df_conGeo

,name,category_code,Lugares,clean_state,latitude,longitude
0,Real Time Content,advertising,"{'type': 'Point', 'coordinates': [-73.990286, ...",success,40.755959,-73.990286
1,ideeli,ecommerce,"{'type': 'Point', 'coordinates': [-73.990396, ...",success,40.755978,-73.990396
2,Magnetic,advertising,"{'type': 'Point', 'coordinates': [-73.990152, ...",success,40.758343,-73.990152
3,MindSmack,games_video,"{'type': 'Point', 'coordinates': [-73.989987, ...",success,40.758492,-73.989987
4,MYSTYLEPOST,network_hosting,"{'type': 'Point', 'coordinates': [-73.989622, ...",success,40.754901,-73.989622
...,...,...,...,...,...,...
178,Aleri,software,"{'type': 'Point', 'coordinates': [-73.9783534,...",success,40.759219,-73.978353
179,Warner Music Group,other,"{'type': 'Point', 'coordinates': [-73.9783534,...",success,40.759219,-73.978353
180,SheZoom,network_hosting,"{'type': 'Point', 'coordinates': [-73.9785086,...",success,40.753864,-73.978509
181,Social Median,web,"{'type': 'Point', 'coordinates': [-73.982575, ...",success,40.749630,-73.982575
182,RankAbove,software,"{'type': 'Point', 'coordinates': [-73.992402, ...",success,40.748047,-73.992402

In [ ]:
query

In [20]:
def buscarOficinasCerca(address, maxDist=1000):
    point = geocode(address)
    return {
       "office": {
         "$near": {
           "$geometry": point,
           "$maxDistance": maxDist,
         }
       }
    }

In [21]:
def numpags(pagina):
    if pagina == 1:
        r = list(range(0,1))
    elif pagina > 1:
        r = list(range(0,pagina*10,10))
    else:
        r = [-1]
    return r

def ExtractDireccion(donde, elque, paginas):
   
    r = numpags(paginas)
    nombres=[]
    adress=[]
    
    if len(r) >= 3 or r[0] == -1:
        print("Exceso de páginas, máximo 3 páginas (nos pueden banear) o número de páginas inválido")
    else:
        
        for e in r:
           
            url =f"https://www.yelp.es/search?find_desc={elque}&find_loc={donde}&start={e}"
            data = requests.get(url)
            soup = BeautifulSoup(data.text)
            
            sacandoNombre = [e.text.split("\xa0") for e in soup.find_all('h4')]
           
            nombre = list(map(lambda s: s[1] if len(s)>=2 else s[0],sacandoNombre))
           
            nombres += nombre
           
            direccion = [e.text for e in soup.find_all('address')]
           
            adress += direccion
            
    return list(zip( nombres,adress))

In [ ]:
#guarderiasretiro = ExtractDireccion("madrid retiro","guarderias", 2)
#aeropuerto = ExtractDireccion("madrid","aeropuerto", 1)
#starbucks = ExtractDireccion("madrid retiro","starbucks", 1)

In [ ]:
#guarderiasretiroDatos = pd.DataFrame(guarderiasretiro2)
#display(guarderiasretiroDatos2)
#guarderiasretiroDatos = guarderiasretiroDatos2
#aeropuertoDatos = pd.DataFrame(aeropuerto)
#display(aeropuertoDatos)
#starbucksdata = pd.DataFrame(starbucks)
#display(starbucksdata)

In [62]:
#Esto no lo metas es cargar los archivos
with open('./Input/guarderiasNY.json', 'r') as myfile:
       guarderiasretiroDatos=myfile.read()

with open('./Input/RestVeganoNY.json', 'r') as tofile:
       starbucksDatos= tofile.read()
with open('./Input/AeropNY.json', 'r') as sufile:
       aeropuertoDatos = sufile.read()

In [63]:
aeropuertoDatos = pd.read_json(aeropuertoDatos)
starbucksDatos = pd.read_json(starbucksDatos)
guarderiasretiroDatos = pd.read_json(guarderiasretiroDatos)

In [64]:
display(aeropuertoDatos,guarderiasretiroDatos,starbucksDatos)

                                            0                          1
0  John F Kennedy International Airport - JFK  Van Wyck & JFK Expressway
1  Newark Liberty International Airport - EWR              3 Brewster Rd
2                           Teterboro Airport         510 Industrial Ave
3                LaGuardia Airport Terminal C      1 Central Terminal Dr
4                     LaGuardia Airport - LGA   94-00 Grand Central Pkwy
5                           TWA Flight Center                Jfk Airport
6                 TSA Checkpoint Terminal C/2              43 Olympia Dr
7                 TSA Checkpoint Terminal C/1              3100 47th Ave

                                                0                            1
0                            Preschool of America               39 Eldridge St
1                               Trinity Preschool             28 Washington St
2          The Learning Experience - Battery Park                80 Beekman St
3                           Bright Beginnings NYC             228 Bushwick Ave
4                           Sunset Park Playhouse           1677 Lexington Ave
5                 Creative Academy Daycare Center                 67 E 11th St
6                     Friends and Family Day Care                  451 7th Ave
7                                        Kidville                 4616 4th Ave
8                     Chickpeas Child Care Center           1485 Bloomfield St
9                   Sunset Park Children’s School                406 W 55th St
10                      Hoboken Montessori School                 3306 88th St
11  Bright Horizons At Midtown West - Temp Closed  7817 Third Avenue 2nd Floor
12            Children Of America Jackson Heights                250 Utica Ave
13                         Tutor Time of Brooklyn             368 Palisade Ave
14                          Brooklyn Kids Academy                 4131 58th St
15                      The Day School of Astoria                 25 Market St
16                        Garden of Mustard Seeds          60 East 97th Street
17                              Bright Beginnings                  401 60th St
18                 A n A Little Clappers Pre Care                 132 N 5th St
19                           Preschool of America                99 Suffolk St
20                                     Kids Place                    292 Ct St
21                      Changing Tomorrow Academy               25-38 100th St
22                 Imagine Early Learning Centers                5-44 47th Ave

                               0                   1
0                      Loco Coco   835 Lexington Ave
1                Hungry Angelina        117 Adams St
2                        October       384 Broome St
3                     MTHR Vegan       329 W 49th St
4               Vital Vegan Cafe     1217 Teaneck Rd
5                 Petisco Vegano      189 E Broadway
6                     Vegan Love       263 E 10th St
7               Vegans of Seitan      669 Raritan Rd
8             Zona Rosa Taqueria       6021 39th Ave
9                     Plant Base     370 Pacific Ave
10             El Rinconcito Mix     774 St Johns Pl
11                     V 4 Vegan         138 2nd Ave
12               La Taquiza Loca        188 Howe Ave
13           Urban Vegan Kitchen       41 Carmine St
14              Go Vegan Cuisine      215 E Broadway
15                  Le Botaniste        127 Grand St
16                         Zanmi   1206 Nostrand Ave
17               Pressed Juicery    329 Lafayette St
18                  Monk’s Meats   154 Elizabeth Ave
19             The Healthy Hippy  131 Greenpoint Ave
20                   Jungle Cafe        82 Hutton St
21  Vibez Juice Bar & Vegan Cafe  612 Vanderbilt Ave
22                American Vegan      235 Dekalb Ave
23          Luanne’s Wild Ginger   34-23 Steinway St
24                       CULIRAW             82 St E
25                          Gobo         95 Avenue A
26               Jiggy’s Kitchen        62 Spring St
27                    Honeybee’s      61 Delancey St
28            Chefs Club Counter       1279 Main Ave

In [65]:
#Renombro las columnas con name y adress
aeropuertoDatos = aeropuertoDatos.rename(columns={0:'name',1:'adress'})
restvegaDatos= starbucksDatos.rename(columns={0:'name',1:'adress'})
guarderiasretiroDatos = guarderiasretiroDatos.rename(columns={0:'name',1:'adress'})

In [82]:
#Elimino las filas que no coinciden con un aeropuerto
#aeropuertoDatos.drop(aeropuertoDatos.index[[0,2,4,6,7]],inplace=True)

In [83]:
#Elimino la fila con dos direcciones
#guarderiasretiroDatos.drop(guarderiasretiroDatos.index[[17]],inplace=True)

In [202]:
#Elimino la fila con el Starbucks cerrado
#starbucksDatos.drop(starbucksDatos.index[[4]],inplace=True)
display(aeropuertoDatos,guarderiasretiroDatos)

                                         name                     adress
0  John F Kennedy International Airport - JFK  Van Wyck & JFK Expressway
1  Newark Liberty International Airport - EWR              3 Brewster Rd
2                           Teterboro Airport         510 Industrial Ave
3                LaGuardia Airport Terminal C      1 Central Terminal Dr
4                     LaGuardia Airport - LGA   94-00 Grand Central Pkwy
5                           TWA Flight Center                Jfk Airport
6                 TSA Checkpoint Terminal C/2              43 Olympia Dr
7                 TSA Checkpoint Terminal C/1              3100 47th Ave

                                             name                       adress
0                            Preschool of America               39 Eldridge St
1                               Trinity Preschool             28 Washington St
2          The Learning Experience - Battery Park                80 Beekman St
3                           Bright Beginnings NYC             228 Bushwick Ave
4                           Sunset Park Playhouse           1677 Lexington Ave
5                 Creative Academy Daycare Center                 67 E 11th St
6                     Friends and Family Day Care                  451 7th Ave
7                                        Kidville                 4616 4th Ave
8                     Chickpeas Child Care Center           1485 Bloomfield St
9                   Sunset Park Children’s School                406 W 55th St
10                      Hoboken Montessori School                 3306 88th St
11  Bright Horizons At Midtown West - Temp Closed  7817 Third Avenue 2nd Floor
12            Children Of America Jackson Heights                250 Utica Ave
13                         Tutor Time of Brooklyn             368 Palisade Ave
14                          Brooklyn Kids Academy                 4131 58th St
15                      The Day School of Astoria                 25 Market St
16                        Garden of Mustard Seeds          60 East 97th Street
17                              Bright Beginnings                  401 60th St
18                 A n A Little Clappers Pre Care                 132 N 5th St
19                           Preschool of America                99 Suffolk St
20                                     Kids Place                    292 Ct St
21                      Changing Tomorrow Academy               25-38 100th St
22                 Imagine Early Learning Centers                5-44 47th Ave

In [27]:
import time
def masivoGeocode(dataframe):
    puntos_geocode=[]
    for direccion in dataframe.adress:
        time.sleep(1)
        puntos_geocode.append(geocode(direccion))
    return puntos_geocode

In [28]:
import time
def masivoGeocodeAeropuerto(dataframe):
    puntos_geocode=[]
    for direccion in dataframe.name:
        time.sleep(1)
        puntos_geocode.append(geocode(direccion))
    return puntos_geocode

In [29]:

def geocode(address):
    '''resp = requests.get("https://geocode.xyz/51.4647,0.0079?json=1&auth=your auth code")
    Use geocode api to do forward geocoding. https://geocode.xyz/api
    '''
    res = requests.get(f"https://geocode.xyz/{address},USA, New York?region=US?json=1&auth={api_key_Geo}",params={"json":1})
    #res = requests.get(f"https://geocode.xyz/{address}",params={"json":1})
    data = res.json()
    print(res)
    # Return as GeoJSON -> https://geojson.org/
    return {
        "type":"Point",
        "coordinates": [float(data["latt"]), float(data["longt"])]
    }

In [30]:
restvega = masivoGeocode(restvegaDatos)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [31]:
print(restvega )

[{'type': 'Point', 'coordinates': [40.76513, -73.9659]}, {'type': 'Point', 'coordinates': [40.58277, -74.10319]}, {'type': 'Point', 'coordinates': [40.72052, -73.99658]}, {'type': 'Point', 'coordinates': [40.76201, -73.9874]}, {'type': 'Point', 'coordinates': [40.68908, -73.9586]}, {'type': 'Point', 'coordinates': [40.71419, -73.9887]}, {'type': 'Point', 'coordinates': [40.72841, -73.98358]}, {'type': 'Point', 'coordinates': [40.58774, -74.08615]}, {'type': 'Point', 'coordinates': [40.7473, -73.91212]}, {'type': 'Point', 'coordinates': [40.68646, -73.986]}, {'type': 'Point', 'coordinates': [40.67241, -73.95734]}, {'type': 'Point', 'coordinates': [40.72263, -73.98486]}, {'type': 'Point', 'coordinates': [40.81238, -73.84744]}, {'type': 'Point', 'coordinates': [40.7301, -74.00357]}, {'type': 'Point', 'coordinates': [40.71417, -73.98748]}, {'type': 'Point', 'coordinates': [40.61521, -74.09787]}, {'type': 'Point', 'coordinates': [40.65794, -73.95049]}, {'type': 'Point', 'coordinates': [40.63712, -74.0934]}, {'type': 'Point', 'coordinates': [40.72043, -73.99493]}, {'type': 'Point', 'coordinates': [40.73027, -73.95483]}, {'type': 'Point', 'coordinates': [40.62017, -74.01761]}, {'type': 'Point', 'coordinates': [40.67809, -73.96891]}, {'type': 'Point', 'coordinates': [40.6896, -73.96982]}, {'type': 'Point', 'coordinates': [40.77087, -73.90871]}, {'type': 'Point', 'coordinates': [40.62784, -74.03681]}, {'type': 'Point', 'coordinates': [40.72547, -73.98396]}, {'type': 'Point', 'coordinates': [40.7223, -73.99733]}, {'type': 'Point', 'coordinates': [40.71912, -73.99084]}, {'type': 'Point', 'coordinates': [40.75283, -73.95738]}]

In [34]:
#Con la función Geocode pido los puntos geodésicos
#aeropuertos= masivoGeocodeAeropuerto(aeropuertoDatos)

#starbucksgeo = masivoGeocode(starbucksDatos)

[{'type': 'Point', 'coordinates': [40.74313, -73.7567]}, {'type': 'Point', 'coordinates': [40.70567, -74.01538]}, {'type': 'Point', 'coordinates': [40.85365, -74.06037]}, {'type': 'Point', 'coordinates': [40.72693, -73.99992]}, {'type': 'Point', 'coordinates': [40.72693, -73.99992]}, {'type': 'Point', 'coordinates': [40.57153, -74.14344]}, {'type': 'Point', 'coordinates': [40.76031, -112.00659]}, {'type': 'Point', 'coordinates': [40.76031, -112.00659]}]

In [ ]:
print( aeropuertos)

In [36]:
guarderias = masivoGeocode(guarderiasretiroDatos)

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [37]:
print(guarderias)

[{'type': 'Point', 'coordinates': [40.71569, -73.99334]}, {'type': 'Point', 'coordinates': [40.73141, -73.99697]}, {'type': 'Point', 'coordinates': [40.7081, -74.0034]}, {'type': 'Point', 'coordinates': [40.70792, -73.94004]}, {'type': 'Point', 'coordinates': [40.79171, -73.9465]}, {'type': 'Point', 'coordinates': [40.73292, -73.99241]}, {'type': 'Point', 'coordinates': [40.7506, -73.99091]}, {'type': 'Point', 'coordinates': [40.7205, -73.97556]}, {'type': 'Point', 'coordinates': [40.60918, -74.18833]}, {'type': 'Point', 'coordinates': [40.76671, -73.98689]}, {'type': 'Point', 'coordinates': [40.77646, -73.94435]}, {'type': 'Point', 'coordinates': [40.77732, -73.95215]}, {'type': 'Point', 'coordinates': [40.66996, -73.93161]}, {'type': 'Point', 'coordinates': [40.59699, -74.06358]}, {'type': 'Point', 'coordinates': [40.74251, -73.90733]}, {'type': 'Point', 'coordinates': [40.71274, -73.99455]}, {'type': 'Point', 'coordinates': [40.78776, -73.95334]}, {'type': 'Point', 'coordinates': [40.76023, -73.96152]}, {'type': 'Point', 'coordinates': [40.71683, -73.95928]}, {'type': 'Point', 'coordinates': [40.71871, -73.98636]}, {'type': 'Point', 'coordinates': [40.68908, -73.9586]}, {'type': 'Point', 'coordinates': [40.79468, -73.96404]}, {'type': 'Point', 'coordinates': [40.75725, -73.97998]}]

In [66]:

df_restvegageo = pd.DataFrame(restvega)
df_guarderiasgeo= pd.DataFrame(guarderias)
df_aeropuertosgeo= pd.DataFrame(aeropuertos)

In [67]:
def easyLatLng2(row):
    of = row
    return {
        "latitude":of["coordinates"][1],
        "longitude":of["coordinates"][0]
    }

In [68]:
#Organizo el indice de guarderiasDatos y uno los DataFrame.
guarderiasretiroDatos = guarderiasretiroDatos.reset_index()
df_guarderias = pd.concat([df_guarderiasgeo, df_guarderiasgeo.apply(easyLatLng2, axis=1, result_type="expand")], axis=1)
df_guarderias2 = pd.concat([guarderiasretiroDatos,df_guarderias], axis=1)

In [69]:
#Organizo el indice de aeropuertoDatos y uno los DataFrame.
aeropuertoDatos = aeropuertoDatos.reset_index()
df_aeropuertos = pd.concat([df_aeropuertosgeo, df_aeropuertosgeo.apply(easyLatLng2, axis=1, result_type="expand")], axis=1)
df_aeropuertos2 = pd.concat([aeropuertoDatos,df_aeropuertos], axis=1)

,level_0,index,name,adress,type,coordinates,latitude,longitude,latitude,longitude
0,0,0,Loco Coco,835 Lexington Ave,Point,"[40.76513, -73.9659]",-73.96590,40.76513,-73.96590,40.76513
1,1,1,Hungry Angelina,117 Adams St,Point,"[40.58277, -74.10319]",-74.10319,40.58277,-74.10319,40.58277
2,2,2,October,384 Broome St,Point,"[40.72052, -73.99658]",-73.99658,40.72052,-73.99658,40.72052
3,3,3,MTHR Vegan,329 W 49th St,Point,"[40.76201, -73.9874]",-73.98740,40.76201,-73.98740,40.76201
4,4,4,Vital Vegan Cafe,1217 Teaneck Rd,Point,"[40.68908, -73.9586]",-73.95860,40.68908,-73.95860,40.68908
5,5,5,Petisco Vegano,189 E Broadway,Point,"[40.71419, -73.9887]",-73.98870,40.71419,-73.98870,40.71419
6,6,6,Vegan Love,263 E 10th St,Point,"[40.72841, -73.98358]",-73.98358,40.72841,-73.98358,40.72841
7,7,7,Vegans of Seitan,669 Raritan Rd,Point,"[40.58774, -74.08615]",-74.08615,40.58774,-74.08615,40.58774
8,8,8,Zona Rosa Taqueria,6021 39th Ave,Point,"[40.7473, -73.91212]",-73.91212,40.74730,-73.91212,40.74730
9,9,9,Plant Base,370 Pacific Ave,Point,"[40.68646, -73.986]",-73.98600,40.68646,-73.98600,40.68646
10,10,10,El Rinconcito Mix,774 St Johns Pl,Point,"[40.67241, -73.95734]",-73.95734,40.67241,-73.95734,40.67241
11,11,11,V 4 Vegan,138 2nd Ave,Point,"[40.72263, -73.98486]",-73.98486,40.72263,-73.98486,40.72263
12,12,12,La Taquiza Loca,188 Howe Ave,Point,"[40.81238, -73.84744]",-73.84744,40.81238,-73.84744,40.81238
13,13,13,Urban Vegan Kitchen,41 Carmine St,Point,"[40.7301, -74.00357]",-74.00357,40.73010,-74.00357,40.73010
14,14,14,Go Vegan Cuisine,215 E Broadway,Point,"[40.71417, -73.98748]",-73.98748,40.71417,-73.98748,40.71417
15,15,15,Le Botaniste,127 Grand St,Point,"[40.61521, -74.09787]",-74.09787,40.61521,-74.09787,40.61521
16,16,16,Zanmi,1206 Nostrand Ave,Point,"[40.65794, -73.95049]",-73.95049,40.65794,-73.95049,40.65794
17,17,17,Pressed Juicery,329 Lafayette St,Point,"[40.63712, -74.0934]",-74.09340,40.63712,-74.09340,40.63712
18,18,18,Monk’s Meats,154 Elizabeth Ave,Point,"[40.72043, -73.99493]",-73.99493,40.72043,-73.99493,40.72043
19,19,19,The Healthy Hippy,131 Greenpoint Ave,Point,"[40.73027, -73.95483]",-73.95483,40.73027,-73.95483,40.73027
20,20,20,Jungle Cafe,82 Hutton St,Point,"[40.62017, -74.01761]",-74.01761,40.62017,-74.01761,40.62017
21,21,21,Vibez Juice Bar & Vegan Cafe,612 Vanderbilt Ave,Point,"[40.67809, -73.96891]",-73.96891,40.67809,-73.96891,40.67809
22,22,22,American Vegan,235 Dekalb Ave,Point,"[40.6896, -73.96982]",-73.96982,40.68960,-73.96982,40.68960
23,23,23,Luanne’s Wild Ginger,34-23 Steinway St,Point,"[40.77087, -73.90871]",-73.90871,40.77087,-73.90871,40.77087
24,24,24,CULIRAW,82 St E,Point,"[40.62784, -74.03681]",-74.03681,40.62784,-74.03681,40.62784
25,25,25,Gobo,95 Avenue A,Point,"[40.72547, -73.98396]",-73.98396,40.72547,-73.98396,40.72547
26,26,26,Jiggy’s Kitchen,62 Spring St,Point,"[40.7223, -73.99733]",-73.99733,40.72230,-73.99733,40.72230
27,27,27,Honeybee’s,61 Delancey St,Point,"[40.71912, -73.99084]",-73.99084,40.71912,-73.99084,40.71912
28,28,28,Chefs Club Counter,1279 Main Ave,Point,"[40.75283, -73.95738]",-73.95738,40.75283,-73.95738,40.75283

In [70]:
#Organizo el indice de starbucksDatos y uno los DataFrame.
restvegaDatos = restvegaDatos.reset_index()
df_restvegageo = pd.concat([df_restvegageo, df_restvegageo.apply(easyLatLng2, axis=1, result_type="expand")], axis=1)
df_restvegageo2 = pd.concat([restvegaDatos,df_restvegageo], axis=1)

In [71]:
#cambio a lugares el nombre de la columna
df_restvegageo3 =pd.concat([df_restvegageo2,(pd.DataFrame({'Lugares': restvega},
                                                      index= df_restvegageo2.index ))],axis=1)

In [72]:
df_guarderias3 =pd.concat([df_guarderias2,(pd.DataFrame({'Lugares': guarderias},
                                                        index= df_guarderias2.index ))],axis=1)

In [73]:
df_aeropuertos3 =pd.concat([df_aeropuertos2,(pd.DataFrame({'Lugares': aeropuertos},
                                                        index= df_aeropuertos2.index ))],axis=1)
df_aeropuertos3

,index,name,adress,type,coordinates,latitude,longitude,Lugares
0,0,John F Kennedy International Airport - JFK,Van Wyck & JFK Expressway,Point,"[40.74313, -73.7567]",-73.75670,40.74313,"{'type': 'Point', 'coordinates': [40.74313, -7..."
1,1,Newark Liberty International Airport - EWR,3 Brewster Rd,Point,"[40.70567, -74.01538]",-74.01538,40.70567,"{'type': 'Point', 'coordinates': [40.70567, -7..."
2,2,Teterboro Airport,510 Industrial Ave,Point,"[40.85365, -74.06037]",-74.06037,40.85365,"{'type': 'Point', 'coordinates': [40.85365, -7..."
3,3,LaGuardia Airport Terminal C,1 Central Terminal Dr,Point,"[40.72693, -73.99992]",-73.99992,40.72693,"{'type': 'Point', 'coordinates': [40.72693, -7..."
4,4,LaGuardia Airport - LGA,94-00 Grand Central Pkwy,Point,"[40.72693, -73.99992]",-73.99992,40.72693,"{'type': 'Point', 'coordinates': [40.72693, -7..."
5,5,TWA Flight Center,Jfk Airport,Point,"[40.57153, -74.14344]",-74.14344,40.57153,"{'type': 'Point', 'coordinates': [40.57153, -7..."
6,6,TSA Checkpoint Terminal C/2,43 Olympia Dr,Point,"[40.76031, -112.00659]",-112.00659,40.76031,"{'type': 'Point', 'coordinates': [40.76031, -1..."
7,7,TSA Checkpoint Terminal C/1,3100 47th Ave,Point,"[40.76031, -112.00659]",-112.00659,40.76031,"{'type': 'Point', 'coordinates': [40.76031, -1..."

In [75]:
df_restvegageo3

,index,name,adress,type,coordinates,latitude,longitude,Lugares
0,0,Loco Coco,835 Lexington Ave,Point,"[40.76513, -73.9659]",-73.96590,40.76513,"{'type': 'Point', 'coordinates': [40.76513, -7..."
1,1,Hungry Angelina,117 Adams St,Point,"[40.58277, -74.10319]",-74.10319,40.58277,"{'type': 'Point', 'coordinates': [40.58277, -7..."
2,2,October,384 Broome St,Point,"[40.72052, -73.99658]",-73.99658,40.72052,"{'type': 'Point', 'coordinates': [40.72052, -7..."
3,3,MTHR Vegan,329 W 49th St,Point,"[40.76201, -73.9874]",-73.98740,40.76201,"{'type': 'Point', 'coordinates': [40.76201, -7..."
4,4,Vital Vegan Cafe,1217 Teaneck Rd,Point,"[40.68908, -73.9586]",-73.95860,40.68908,"{'type': 'Point', 'coordinates': [40.68908, -7..."
5,5,Petisco Vegano,189 E Broadway,Point,"[40.71419, -73.9887]",-73.98870,40.71419,"{'type': 'Point', 'coordinates': [40.71419, -7..."
6,6,Vegan Love,263 E 10th St,Point,"[40.72841, -73.98358]",-73.98358,40.72841,"{'type': 'Point', 'coordinates': [40.72841, -7..."
7,7,Vegans of Seitan,669 Raritan Rd,Point,"[40.58774, -74.08615]",-74.08615,40.58774,"{'type': 'Point', 'coordinates': [40.58774, -7..."
8,8,Zona Rosa Taqueria,6021 39th Ave,Point,"[40.7473, -73.91212]",-73.91212,40.74730,"{'type': 'Point', 'coordinates': [40.7473, -73..."
9,9,Plant Base,370 Pacific Ave,Point,"[40.68646, -73.986]",-73.98600,40.68646,"{'type': 'Point', 'coordinates': [40.68646, -7..."
10,10,El Rinconcito Mix,774 St Johns Pl,Point,"[40.67241, -73.95734]",-73.95734,40.67241,"{'type': 'Point', 'coordinates': [40.67241, -7..."
11,11,V 4 Vegan,138 2nd Ave,Point,"[40.72263, -73.98486]",-73.98486,40.72263,"{'type': 'Point', 'coordinates': [40.72263, -7..."
12,12,La Taquiza Loca,188 Howe Ave,Point,"[40.81238, -73.84744]",-73.84744,40.81238,"{'type': 'Point', 'coordinates': [40.81238, -7..."
13,13,Urban Vegan Kitchen,41 Carmine St,Point,"[40.7301, -74.00357]",-74.00357,40.73010,"{'type': 'Point', 'coordinates': [40.7301, -74..."
14,14,Go Vegan Cuisine,215 E Broadway,Point,"[40.71417, -73.98748]",-73.98748,40.71417,"{'type': 'Point', 'coordinates': [40.71417, -7..."
15,15,Le Botaniste,127 Grand St,Point,"[40.61521, -74.09787]",-74.09787,40.61521,"{'type': 'Point', 'coordinates': [40.61521, -7..."
16,16,Zanmi,1206 Nostrand Ave,Point,"[40.65794, -73.95049]",-73.95049,40.65794,"{'type': 'Point', 'coordinates': [40.65794, -7..."
17,17,Pressed Juicery,329 Lafayette St,Point,"[40.63712, -74.0934]",-74.09340,40.63712,"{'type': 'Point', 'coordinates': [40.63712, -7..."
18,18,Monk’s Meats,154 Elizabeth Ave,Point,"[40.72043, -73.99493]",-73.99493,40.72043,"{'type': 'Point', 'coordinates': [40.72043, -7..."
19,19,The Healthy Hippy,131 Greenpoint Ave,Point,"[40.73027, -73.95483]",-73.95483,40.73027,"{'type': 'Point', 'coordinates': [40.73027, -7..."
20,20,Jungle Cafe,82 Hutton St,Point,"[40.62017, -74.01761]",-74.01761,40.62017,"{'type': 'Point', 'coordinates': [40.62017, -7..."
21,21,Vibez Juice Bar & Vegan Cafe,612 Vanderbilt Ave,Point,"[40.67809, -73.96891]",-73.96891,40.67809,"{'type': 'Point', 'coordinates': [40.67809, -7..."
22,22,American Vegan,235 Dekalb Ave,Point,"[40.6896, -73.96982]",-73.96982,40.68960,"{'type': 'Point', 'coordinates': [40.6896, -73..."
23,23,Luanne’s Wild Ginger,34-23 Steinway St,Point,"[40.77087, -73.90871]",-73.90871,40.77087,"{'type': 'Point', 'coordinates': [40.77087, -7..."
24,24,CULIRAW,82 St E,Point,"[40.62784, -74.03681]",-74.03681,40.62784,"{'type': 'Point', 'coordinates': [40.62784, -7..."
25,25,Gobo,95 Avenue A,Point,"[40.72547, -73.98396]",-73.98396,40.72547,"{'type': 'Point', 'coordinates': [40.72547, -7..."
26,26,Jiggy’s Kitchen,62 Spring St,Point,"[40.7223, -73.99733]",-73.99733,40.72230,"{'type': 'Point', 'coordinates': [40.7223, -73..."
27,27,Honeybee’s,61 Delancey St,Point,"[40.71912, -73.99084]",-73.99084,40.71912,"{'type': 'Point', 'coordinates': [40.71912, -7..."
28,28,Chefs Club Counter,1279 Main Ave,Point,"[40.75283, -73.95738]",-73.95738,40.75283,"{'type': 'Point', 'coordinates': [40.75283, -7..."

In [76]:
#Elimino la columna de index que salio de más.
df_restvegageo3 = df_restvegageo3.drop(['index'], axis=1)
df_aeropuertos3 = df_aeropuertos3.drop(['index'], axis=1)
df_guarderias3 = df_guarderias3.drop(['index'], axis=1)
display(df_aeropuertos3,df_guarderias3 ,df_restvegageo3)

,name,adress,type,coordinates,latitude,longitude,Lugares
0,John F Kennedy International Airport - JFK,Van Wyck & JFK Expressway,Point,"[40.74313, -73.7567]",-73.75670,40.74313,"{'type': 'Point', 'coordinates': [40.74313, -7..."
1,Newark Liberty International Airport - EWR,3 Brewster Rd,Point,"[40.70567, -74.01538]",-74.01538,40.70567,"{'type': 'Point', 'coordinates': [40.70567, -7..."
2,Teterboro Airport,510 Industrial Ave,Point,"[40.85365, -74.06037]",-74.06037,40.85365,"{'type': 'Point', 'coordinates': [40.85365, -7..."
3,LaGuardia Airport Terminal C,1 Central Terminal Dr,Point,"[40.72693, -73.99992]",-73.99992,40.72693,"{'type': 'Point', 'coordinates': [40.72693, -7..."
4,LaGuardia Airport - LGA,94-00 Grand Central Pkwy,Point,"[40.72693, -73.99992]",-73.99992,40.72693,"{'type': 'Point', 'coordinates': [40.72693, -7..."
5,TWA Flight Center,Jfk Airport,Point,"[40.57153, -74.14344]",-74.14344,40.57153,"{'type': 'Point', 'coordinates': [40.57153, -7..."
6,TSA Checkpoint Terminal C/2,43 Olympia Dr,Point,"[40.76031, -112.00659]",-112.00659,40.76031,"{'type': 'Point', 'coordinates': [40.76031, -1..."
7,TSA Checkpoint Terminal C/1,3100 47th Ave,Point,"[40.76031, -112.00659]",-112.00659,40.76031,"{'type': 'Point', 'coordinates': [40.76031, -1..."

,name,adress,type,coordinates,latitude,longitude,Lugares
0,Preschool of America,39 Eldridge St,Point,"[40.71569, -73.99334]",-73.99334,40.71569,"{'type': 'Point', 'coordinates': [40.71569, -7..."
1,Trinity Preschool,28 Washington St,Point,"[40.73141, -73.99697]",-73.99697,40.73141,"{'type': 'Point', 'coordinates': [40.73141, -7..."
2,The Learning Experience - Battery Park,80 Beekman St,Point,"[40.7081, -74.0034]",-74.00340,40.70810,"{'type': 'Point', 'coordinates': [40.7081, -74..."
3,Bright Beginnings NYC,228 Bushwick Ave,Point,"[40.70792, -73.94004]",-73.94004,40.70792,"{'type': 'Point', 'coordinates': [40.70792, -7..."
4,Sunset Park Playhouse,1677 Lexington Ave,Point,"[40.79171, -73.9465]",-73.94650,40.79171,"{'type': 'Point', 'coordinates': [40.79171, -7..."
5,Creative Academy Daycare Center,67 E 11th St,Point,"[40.73292, -73.99241]",-73.99241,40.73292,"{'type': 'Point', 'coordinates': [40.73292, -7..."
6,Friends and Family Day Care,451 7th Ave,Point,"[40.7506, -73.99091]",-73.99091,40.75060,"{'type': 'Point', 'coordinates': [40.7506, -73..."
7,Kidville,4616 4th Ave,Point,"[40.7205, -73.97556]",-73.97556,40.72050,"{'type': 'Point', 'coordinates': [40.7205, -73..."
8,Chickpeas Child Care Center,1485 Bloomfield St,Point,"[40.60918, -74.18833]",-74.18833,40.60918,"{'type': 'Point', 'coordinates': [40.60918, -7..."
9,Sunset Park Children’s School,406 W 55th St,Point,"[40.76671, -73.98689]",-73.98689,40.76671,"{'type': 'Point', 'coordinates': [40.76671, -7..."
10,Hoboken Montessori School,3306 88th St,Point,"[40.77646, -73.94435]",-73.94435,40.77646,"{'type': 'Point', 'coordinates': [40.77646, -7..."
11,Bright Horizons At Midtown West - Temp Closed,7817 Third Avenue 2nd Floor,Point,"[40.77732, -73.95215]",-73.95215,40.77732,"{'type': 'Point', 'coordinates': [40.77732, -7..."
12,Children Of America Jackson Heights,250 Utica Ave,Point,"[40.66996, -73.93161]",-73.93161,40.66996,"{'type': 'Point', 'coordinates': [40.66996, -7..."
13,Tutor Time of Brooklyn,368 Palisade Ave,Point,"[40.59699, -74.06358]",-74.06358,40.59699,"{'type': 'Point', 'coordinates': [40.59699, -7..."
14,Brooklyn Kids Academy,4131 58th St,Point,"[40.74251, -73.90733]",-73.90733,40.74251,"{'type': 'Point', 'coordinates': [40.74251, -7..."
15,The Day School of Astoria,25 Market St,Point,"[40.71274, -73.99455]",-73.99455,40.71274,"{'type': 'Point', 'coordinates': [40.71274, -7..."
16,Garden of Mustard Seeds,60 East 97th Street,Point,"[40.78776, -73.95334]",-73.95334,40.78776,"{'type': 'Point', 'coordinates': [40.78776, -7..."
17,Bright Beginnings,401 60th St,Point,"[40.76023, -73.96152]",-73.96152,40.76023,"{'type': 'Point', 'coordinates': [40.76023, -7..."
18,A n A Little Clappers Pre Care,132 N 5th St,Point,"[40.71683, -73.95928]",-73.95928,40.71683,"{'type': 'Point', 'coordinates': [40.71683, -7..."
19,Preschool of America,99 Suffolk St,Point,"[40.71871, -73.98636]",-73.98636,40.71871,"{'type': 'Point', 'coordinates': [40.71871, -7..."
20,Kids Place,292 Ct St,Point,"[40.68908, -73.9586]",-73.95860,40.68908,"{'type': 'Point', 'coordinates': [40.68908, -7..."
21,Changing Tomorrow Academy,25-38 100th St,Point,"[40.79468, -73.96404]",-73.96404,40.79468,"{'type': 'Point', 'coordinates': [40.79468, -7..."
22,Imagine Early Learning Centers,5-44 47th Ave,Point,"[40.75725, -73.97998]",-73.97998,40.75725,"{'type': 'Point', 'coordinates': [40.75725, -7..."

,name,adress,type,coordinates,latitude,longitude,Lugares
0,Loco Coco,835 Lexington Ave,Point,"[40.76513, -73.9659]",-73.96590,40.76513,"{'type': 'Point', 'coordinates': [40.76513, -7..."
1,Hungry Angelina,117 Adams St,Point,"[40.58277, -74.10319]",-74.10319,40.58277,"{'type': 'Point', 'coordinates': [40.58277, -7..."
2,October,384 Broome St,Point,"[40.72052, -73.99658]",-73.99658,40.72052,"{'type': 'Point', 'coordinates': [40.72052, -7..."
3,MTHR Vegan,329 W 49th St,Point,"[40.76201, -73.9874]",-73.98740,40.76201,"{'type': 'Point', 'coordinates': [40.76201, -7..."
4,Vital Vegan Cafe,1217 Teaneck Rd,Point,"[40.68908, -73.9586]",-73.95860,40.68908,"{'type': 'Point', 'coordinates': [40.68908, -7..."
5,Petisco Vegano,189 E Broadway,Point,"[40.71419, -73.9887]",-73.98870,40.71419,"{'type': 'Point', 'coordinates': [40.71419, -7..."
6,Vegan Love,263 E 10th St,Point,"[40.72841, -73.98358]",-73.98358,40.72841,"{'type': 'Point', 'coordinates': [40.72841, -7..."
7,Vegans of Seitan,669 Raritan Rd,Point,"[40.58774, -74.08615]",-74.08615,40.58774,"{'type': 'Point', 'coordinates': [40.58774, -7..."
8,Zona Rosa Taqueria,6021 39th Ave,Point,"[40.7473, -73.91212]",-73.91212,40.74730,"{'type': 'Point', 'coordinates': [40.7473, -73..."
9,Plant Base,370 Pacific Ave,Point,"[40.68646, -73.986]",-73.98600,40.68646,"{'type': 'Point', 'coordinates': [40.68646, -7..."
10,El Rinconcito Mix,774 St Johns Pl,Point,"[40.67241, -73.95734]",-73.95734,40.67241,"{'type': 'Point', 'coordinates': [40.67241, -7..."
11,V 4 Vegan,138 2nd Ave,Point,"[40.72263, -73.98486]",-73.98486,40.72263,"{'type': 'Point', 'coordinates': [40.72263, -7..."
12,La Taquiza Loca,188 Howe Ave,Point,"[40.81238, -73.84744]",-73.84744,40.81238,"{'type': 'Point', 'coordinates': [40.81238, -7..."
13,Urban Vegan Kitchen,41 Carmine St,Point,"[40.7301, -74.00357]",-74.00357,40.73010,"{'type': 'Point', 'coordinates': [40.7301, -74..."
14,Go Vegan Cuisine,215 E Broadway,Point,"[40.71417, -73.98748]",-73.98748,40.71417,"{'type': 'Point', 'coordinates': [40.71417, -7..."
15,Le Botaniste,127 Grand St,Point,"[40.61521, -74.09787]",-74.09787,40.61521,"{'type': 'Point', 'coordinates': [40.61521, -7..."
16,Zanmi,1206 Nostrand Ave,Point,"[40.65794, -73.95049]",-73.95049,40.65794,"{'type': 'Point', 'coordinates': [40.65794, -7..."
17,Pressed Juicery,329 Lafayette St,Point,"[40.63712, -74.0934]",-74.09340,40.63712,"{'type': 'Point', 'coordinates': [40.63712, -7..."
18,Monk’s Meats,154 Elizabeth Ave,Point,"[40.72043, -73.99493]",-73.99493,40.72043,"{'type': 'Point', 'coordinates': [40.72043, -7..."
19,The Healthy Hippy,131 Greenpoint Ave,Point,"[40.73027, -73.95483]",-73.95483,40.73027,"{'type': 'Point', 'coordinates': [40.73027, -7..."
20,Jungle Cafe,82 Hutton St,Point,"[40.62017, -74.01761]",-74.01761,40.62017,"{'type': 'Point', 'coordinates': [40.62017, -7..."
21,Vibez Juice Bar & Vegan Cafe,612 Vanderbilt Ave,Point,"[40.67809, -73.96891]",-73.96891,40.67809,"{'type': 'Point', 'coordinates': [40.67809, -7..."
22,American Vegan,235 Dekalb Ave,Point,"[40.6896, -73.96982]",-73.96982,40.68960,"{'type': 'Point', 'coordinates': [40.6896, -73..."
23,Luanne’s Wild Ginger,34-23 Steinway St,Point,"[40.77087, -73.90871]",-73.90871,40.77087,"{'type': 'Point', 'coordinates': [40.77087, -7..."
24,CULIRAW,82 St E,Point,"[40.62784, -74.03681]",-74.03681,40.62784,"{'type': 'Point', 'coordinates': [40.62784, -7..."
25,Gobo,95 Avenue A,Point,"[40.72547, -73.98396]",-73.98396,40.72547,"{'type': 'Point', 'coordinates': [40.72547, -7..."
26,Jiggy’s Kitchen,62 Spring St,Point,"[40.7223, -73.99733]",-73.99733,40.72230,"{'type': 'Point', 'coordinates': [40.7223, -73..."
27,Honeybee’s,61 Delancey St,Point,"[40.71912, -73.99084]",-73.99084,40.71912,"{'type': 'Point', 'coordinates': [40.71912, -7..."
28,Chefs Club Counter,1279 Main Ave,Point,"[40.75283, -73.95738]",-73.95738,40.75283,"{'type': 'Point', 'coordinates': [40.75283, -7..."

In [78]:
df_restvegageo3.to_json("./Input/restvegageoNY.json",orient="records")

In [79]:
df_aeropuertos3.to_json("./Input/aeropuertosNY.json",orient="records")

In [80]:
df_guarderias3.to_json("./Input/guarderiasNY.json",orient="records")

In [ ]:
def etiquetar(latitud, longitud,nombre):
    
    for latitud,longitud in zip(conGeo2.latitude,conGeo2.longitude):
    
        m = folium.Map(location=[latitud,longitud], zoom_start=12, tiles='New York')
    
    for names in no:
        folium.Marker(
            location=[latitud, longitud],
            popup= names,
            icon=folium.Icon(icon='info-sign')
             ).add_to(m)

    return m   
#for latitud,longitud in zip(conGeo2.latitude,conGeo2.longitude):
 #   etiquetar(latitud,longitud)
  #  m = folium.Map(location=[latitud,longitud], zoom_start=12, tiles='Stamen Terrain')
    

    
    
    
    # folium.Marker(
       #location=[latitud, longitud],
       # popup=names,
       #icon=folium.Icon(color='red', icon='info-sign')
       # ).add_to(m)

#folium.Marker(
#    location=[45.3311, -121.7113],
#    popup='Timberline Lodge',
#    icon=folium.Icon(color='green')
#).add_to(m)

In [ ]:
mapaguarderias = etiquetar(guarderias3.latitud,guarderias3.longitud,guarderias3.name)

In [84]:
def buscarLugaresCerca(address, maxDist=3000):
    point = geocode(address)
    return {
       "Lugares": {
         "$near": {
           "$geometry": point,
           "$maxDistance": maxDist,
         }
       }
    }

In [122]:
list(df_aeropuertos3.Lugares)

[{'type': 'Point', 'coordinates': [38.19605, -1.11457]},
 {'type': 'Point', 'coordinates': [40.39819, -3.71744]},
 {'type': 'Point', 'coordinates': [41.65525, -0.88338]}]

In [258]:
query_busqueda={ "Lugares": {
         "$near": {
           "$geometry": {'type': 'Point',
    'coordinates': [ 40.75677,-73.98964]},
           "$maxDistance": 10000,
         }
       }}

In [270]:
query_busquedaempresa={ "Lugares": {
         "$near": {
           "$geometry": {'type': 'Point',
    'coordinates': [-73.98964, 40.75677]},
           "$maxDistance": 1000,
         }
       }}

In [269]:
query = buscarLugaresCerca("Times Square New york")
query

<Response [200]>

{'Lugares': {'$near': {'$geometry': {'type': 'Point',
    'coordinates': [-73.98626, 40.75662]},
   '$maxDistance': 2000}}}

In [271]:
ver =db.NewYorkGamers.find(query_busquedaempresa)
empresasResultados =list(ver)
empresasResultados

[{'_id': ObjectId('5e9dd3c99c849366b3d04b88'),
  'index': 16341,
  'name': 'Real Time Content',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.990286, 40.755959]},
  'clean_state': 'success',
  'founded_year': 2006.0,
  'latitude': 40.755959,
  'longitude': -73.990286},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b9b'),
  'index': 1002,
  'name': 'ideeli',
  'category_code': 'ecommerce',
  'Lugares': {'type': 'Point', 'coordinates': [-73.990396, 40.755978]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.755978,
  'longitude': -73.990396},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b96'),
  'index': 14022,
  'name': 'Magnetic',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.990152, 40.758343]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.758343,
  'longitude': -73.990152},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b8a'),
  'index': 13052,
  'name': 'MindSmack',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.989987, 40.758492]},
  'clean_state': 'success',
  'founded_year': 1999.0,
  'latitude': 40.758492,
  'longitude': -73.989987},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b9c'),
  'index': 4333,
  'name': 'MYSTYLEPOST',
  'category_code': 'network_hosting',
  'Lugares': {'type': 'Point', 'coordinates': [-73.989622, 40.754901]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.754901,
  'longitude': -73.989622},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b93'),
  'index': 7406,
  'name': 'Thomson Reuters',
  'category_code': 'public_relations',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9871847, 40.7564318]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.7564318,
  'longitude': -73.9871847},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b9d'),
  'index': 6522,
  'name': 'Thomson Reuters',
  'category_code': 'public_relations',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9871847, 40.7564318]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.7564318,
  'longitude': -73.9871847},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b87'),
  'index': 5783,
  'name': 'XB Labs',
  'category_code': 'software',
  'Lugares': {'type': 'Point', 'coordinates': [-73.991605, 40.755329]},
  'clean_state': 'success',
  'founded_year': 2005.0,
  'latitude': 40.755329,
  'longitude': -73.991605},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b8b'),
  'index': 10663,
  'name': 'Livekick',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2009.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b94'),
  'index': 10080,
  'name': 'PlaceVine',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04ba8'),
  'index': 18702,
  'name': 'Conversition',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04ba7'),
  'index': 11368,
  'name': 'Dragonfly',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2006.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b92'),
  'index': 16588,
  'name': 'Udorse',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2009.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04ba6'),
  'index': 6641,
  'name': 'artandseek',
  'category_code': 'other',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04ba5'),
  'index': 7415,
  'name': 'Papervitamins',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b89'),
  'index': 6507,
  'name': 'Papervitamins',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b91'),
  'index': 10188,
  'name': 'Odiogo',
  'category_code': 'mobile',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04ba4'),
  'index': 11721,
  'name': 'Pictela',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04ba3'),
  'index': 12844,
  'name': 'VSC Consulting',
  'category_code': 'public_relations',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2002.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b90'),
  'index': 5048,
  'name': 'Medialets',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04ba2'),
  'index': 13628,
  'name': 'Wee Web',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04ba1'),
  'index': 12751,
  'name': 'The Talk Market',
  'category_code': 'ecommerce',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b8e'),
  'index': 10324,
  'name': 'People Capital',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b8f'),
  'index': 16694,
  'name': 'bTrendie',
  'category_code': 'ecommerce',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04ba0'),
  'index': 16164,
  'name': 'Yoostar',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b9f'),
  'index': 13635,
  'name': 'Hirshorn Zuckerman Design Group',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 1987.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b9a'),
  'index': 13629,
  'name': 'Muckety',
  'category_code': 'other',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2006.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b9e'),
  'index': 16385,
  'name': 'GameGround',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b99'),
  'index': 8509,
  'name': 'Healism',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b8d'),
  'index': 16870,
  'name': 'Primospot',
  'category_code': 'other',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b98'),
  'index': 7546,
  'name': 'artandseek',
  'category_code': 'other',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b8c'),
  'index': 17487,
  'name': 'Palyon Medical',
  'category_code': 'biotech',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2004.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b97'),
  'index': 14038,
  'name': 'UniversityJunction',
  'category_code': 'other',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bb0'),
  'index': 18170,
  'name': 'famebook',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04b95'),
  'index': 15408,
  'name': 'Delivr',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2009.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bab'),
  'index': 11127,
  'name': 'Fotohoo',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04ba9'),
  'index': 18262,
  'name': 'CPower',
  'category_code': 'cleantech',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986951, 40.756054]},
  'clean_state': 'success',
  'founded_year': 2000.0,
  'latitude': 40.756054,
  'longitude': -73.986951},
 {'_id': ObjectId('5e9dd3c99c849366b3d04baa'),
  'index': 4231,
  'name': 'Unicast',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.988834, 40.754699]},
  'clean_state': 'success',
  'founded_year': 1998.0,
  'latitude': 40.754699,
  'longitude': -73.988834},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bac'),
  'index': 4736,
  'name': 'ShopMyCloset',
  'category_code': 'ecommerce',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986941, 40.75604]},
  'clean_state': 'success',
  'founded_year': 2003.0,
  'latitude': 40.75604,
  'longitude': -73.986941},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bad'),
  'index': 4615,
  'name': 'My Damn Channel',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.988543, 40.754762]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.754762,
  'longitude': -73.988543},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bae'),
  'index': 5732,
  'name': 'Admeld',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.992152, 40.755253]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.755253,
  'longitude': -73.992152},
 {'_id': ObjectId('5e9dd3c99c849366b3d04baf'),
  'index': 12301,
  'name': 'TravelCLICK',
  'category_code': 'hospitality',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9868495, 40.755437]},
  'clean_state': 'success',
  'founded_year': 1999.0,
  'latitude': 40.755437,
  'longitude': -73.9868495},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bb2'),
  'index': 4373,
  'name': 'CPXi',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9869523, 40.7550708]},
  'clean_state': 'success',
  'founded_year': 2000.0,
  'latitude': 40.7550708,
  'longitude': -73.9869523},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bb3'),
  'index': 2314,
  'name': 'Wakozi',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.992706, 40.755409]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.755409,
  'longitude': -73.992706},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bb1'),
  'index': 13573,
  'name': 'Tech Support 4 NYC',
  'category_code': 'consulting',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9883596, 40.754142]},
  'clean_state': 'success',
  'founded_year': 2001.0,
  'latitude': 40.754142,
  'longitude': -73.9883596},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bb4'),
  'index': 1050,
  'name': 'Xanga',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.992152, 40.754698]},
  'clean_state': 'success',
  'founded_year': 1999.0,
  'latitude': 40.754698,
  'longitude': -73.992152},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bb6'),
  'index': 3030,
  'name': 'Zoomabet',
  'category_code': 'network_hosting',
  'Lugares': {'type': 'Point', 'coordinates': [-73.992152, 40.754698]},
  'clean_state': 'success',
  'founded_year': 2006.0,
  'latitude': 40.754698,
  'longitude': -73.992152},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bb5'),
  'index': 16343,
  'name': 'MyPRGenie',
  'category_code': 'other',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986005, 40.757375]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.757375,
  'longitude': -73.986005},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bba'),
  'index': 19,
  'name': 'Viacom',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986011, 40.757725]},
  'clean_state': 'success',
  'founded_year': 1971.0,
  'latitude': 40.757725,
  'longitude': -73.986011},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bb7'),
  'index': 1970,
  'name': 'MTV Networks',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.986011, 40.757725]},
  'clean_state': 'success',
  'founded_year': 1984.0,
  'latitude': 40.757725,
  'longitude': -73.986011},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bb9'),
  'index': 2649,
  'name': 'NEHST Studios',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.992193, 40.75451]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.75451,
  'longitude': -73.992193},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bb8'),
  'index': 1397,
  'name': 'Paramount Pictures',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9858165, 40.7577017]},
  'clean_state': 'success',
  'founded_year': 1912.0,
  'latitude': 40.7577017,
  'longitude': -73.9858165},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bbd'),
  'index': 3266,
  'name': 'Facilitas',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.991123, 40.753931]},
  'clean_state': 'success',
  'founded_year': 2005.0,
  'latitude': 40.753931,
  'longitude': -73.991123},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bbb'),
  'index': 7737,
  'name': 'AdSide',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.991123, 40.753931]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.753931,
  'longitude': -73.991123},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bbc'),
  'index': 6834,
  'name': 'AdSide',
  'category_code': 'advertising',
  'Lugares': {'type': 'Point', 'coordinates': [-73.991123, 40.753931]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.753931,
  'longitude': -73.991123},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bbe'),
  'index': 3946,
  'name': 'Ladies Who Launch',
  'category_code': 'public_relations',
  'Lugares': {'type': 'Point', 'coordinates': [-73.991512, 40.753877]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.753877,
  'longitude': -73.991512},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bbf'),
  'index': 8690,
  'name': 'Kiwibox',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.9935, 40.755243]},
  'clean_state': 'success',
  'founded_year': 1999.0,
  'latitude': 40.755243,
  'longitude': -73.9935},
 {'_id': ObjectId('5e9dd3c99c849366b3d04be0'),
  'index': 524,
  'name': 'PeekYou',
  'category_code': 'search',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2012.0,
  'latitude': 40.757929,
  'longitude': -73.985506},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bc3'),
  'index': 3060,
  'name': 'HyperCalc',
  'category_code': 'software',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.757929,
  'longitude': -73.985506},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bdf'),
  'index': 1226,
  'name': 'Massify',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2006.0,
  'latitude': 40.757929,
  'longitude': -73.985506},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bc2'),
  'index': 3768,
  'name': 'Pinch Media',
  'category_code': 'software',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2008.0,
  'latitude': 40.757929,
  'longitude': -73.985506},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bc0'),
  'index': 459,
  'name': 'Fotolog',
  'category_code': 'network_hosting',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2002.0,
  'latitude': 40.757929,
  'longitude': -73.985506},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bdd'),
  'index': 3229,
  'name': 'MyBloop',
  'category_code': 'network_hosting',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2006.0,
  'latitude': 40.757929,
  'longitude': -73.985506},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bd2'),
  'index': 770,
  'name': 'Jango',
  'category_code': 'games_video',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.757929,
  'longitude': -73.985506},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bc7'),
  'index': 2246,
  'name': 'Wiredset',
  'category_code': None,
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2004.0,
  'latitude': 40.757929,
  'longitude': -73.985506},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bce'),
  'index': 3694,
  'name': 'Propertyqube',
  'category_code': 'ecommerce',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2006.0,
  'latitude': 40.757929,
  'longitude': -73.985506},
 {'_id': ObjectId('5e9dd3c99c849366b3d04bcb'),
  'index': 1039,
  'name': 'SnapVillage',
  'category_code': 'web',
  'Lugares': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
  'clean_state': 'success',
  'founded_year': 2007.0,
  'latitude': 40.757929,

In [248]:
verrest =db.NewYorkRestaurantes.find(query_busqueda)
restaurantesResult=list(verrest)
restaurantesResult

[{'_id': ObjectId('5e9e0a6c305ea4b69d874e74'),
  'name': 'MTHR Vegan',
  'adress': '329 W 49th St',
  'type': 'Point',
  'coordinates': [40.76201, -73.9874],
  'latitude': -73.9874,
  'longitude': 40.76201,
  'Lugares': {'type': 'Point', 'coordinates': [40.76201, -73.9874]}}]

In [250]:
verguar =db.NewYorkguarderias.find(query_busqueda)
guarderiasResult=list(verguar)

0

/home/sergio/.local/lib/python3.6/site-packages/ipykernel_launcher.py:5: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """

[]

In [ ]:
df_conGeoF = df_conGeo[["name", "Lugares"]]
df_guarderiasF = df_guarderias3[["name",  "Lugares"]]
df_starbucksF = df_starbucks3[["name",  "Lugares"]]
df_aeropuertosF = df_aeropuertos3[["name",  "Lugares"]]
display(df_conGeoF.head(3))
display(df_guarderiasF)
display(df_starbucksF)
display(df_aeropuertosF)

In [ ]:
df_guarderiasF.to_json("./Input/guarderiasfinal.json",orient="records")

In [ ]:
df_starbucksF.to_json("./Input/starbucksfinal.json",orient="records")
df_aeropuertosF.to_json("./Input/aeropuertosfinal.json",orient="records")

In [ ]:
df_conGeoF.to_json("./Input/aconGeofinal.json",orient="records")

In [ ]:
query

In [ ]:
if elem in df_aeropuertosF.Lugares:
    print(elem)